.postsBlock {
    padding: 10px;
    color: rgb(44, 171, 255); 
}

button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(167, 206, 250);
    color: rgb(158, 158, 158);
    border: 1px solid rgb(167, 206, 250);    
    transition: all 0.2s ease-in; 
}

button:hover {
    border-color: #1782cf;
    color: rgb(236, 236, 236);
}

button:active {
    background-color: #1782cf;
    color: rgb(236, 236, 236);
}

textarea {
    background-color: rgb(167, 206, 250); 
    width: 545px;
    height: 75px;
    border-radius: 7px;
}