

.app-wrapper {  
  display: grid;
  margin: 0 auto; 
  grid-template-areas: 
  "h h"
  "n c";
  justify-content: center;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 260px 1010px;
  /* grid-gap: 10px; */
}

.app-wrapper-content {  
  height: 100vh;
  grid-area: c;
  background-color: rgb(27, 27, 27);
  margin: 10px 110px 10px 5px;
  border-radius: 15px;
}