.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
  "f t"
  "f m";
    color: rgb(132, 150, 252); 
}

.dialogItems {
    padding: 10px;     
    grid-area: f;   
}


.dialog .active {
    color: rgb(74, 131, 255);
}

.dialog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(120, 183, 255);
    text-decoration: none;
    padding: 10px 0px ;  
} 

.messages {
    padding: 10px;
    grid-area: m;
    text-align: start;
    line-height: 100%;          
}

.message {
    margin: 10px 0px;
    text-align: start;
}

.dialog a {
    color: rgb(123, 154, 255);
    text-decoration: none; 
    text-align: center;
    line-height: 50px;       
}

.dialog a:hover {
    color: rgb(2, 42, 102);
    text-decoration: none; 
}

.dialogs img{    
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.addMessage {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
  "t "
  "b ";
}

.dialogs textarea {
    grid-area: t;
    width: 300px;
    height: 75px;
    padding: 10px;
    margin: 10px;
}

.dialogs button {
    margin: 0px 10px;
    grid-area: b;
}

